<form method="POST", action="/news">

  <div class="mb-3 mx-5 mt-3">
    <label for="exampleInputEmail1" class="form-label">Search</label>
    <input type="text" name="search" placeholder="Enter key search" class="form-control">
  </div>

  <div class="mb-3 m-5">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" placeholder="Enter your Password" class="form-control" id="exampleInputPassword1">
  </div>

  {{!-- <div class="mb-3 form-check m-5">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> --}}

  <button type="submit" class="btn btn-primary mx-5">Submit</button>

</form>